<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="Vendor_Test::add_dependency_message_to_cart_section"
                type="Vendor\Test\Plugin\CustomerDataCartPlugin"/>
    </type>
</config>
